[submodule "AvionicsSoftware"]
	path = AvionicsSoftware
	url = https://github.com/StudentOrganisationForAerospaceResearch/AvionicsSoftware.git
[submodule "AltitudePredictionFilter"]
	path = AltitudePredictionFilter
	url = .\\AltitudePredictionFilter\\
[submodule "SoarOS"]
	path = SoarOS
	url = https://github.com/UCSOAR/SoarOperatingSystem.git
	branch = Shivam/PubSub
