[submodule "SoarOS"]
	path = SoarOS
	url = https://github.com/UCSOAR/SoarOperatingSystem.git
[submodule "AvionicsSoftware"]
	path = AvionicsSoftware
	url = https://github.com/StudentOrganisationForAerospaceResearch/AvionicsSoftware.git
[submodule "SoarDrivers"]
	path = SoarDrivers
	url = https://github.com/UCSOAR/PeripheralDriversSubmodule
[submodule "AltitudePredictionFilter"]
	path = AltitudePredictionFilter
	url = https://github.com/flammabl3/AltitudePredictionFilter.git
	branch = harry/altitude-prediction-filter-integration
